#flex{
    display: flex;
    width: 72vw;
    height: calc(100vh - 80px - 10px);
    flex-wrap: wrap;
}
h1{
    height: 40px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
a{
    display: flex;
    width: 160px;
    height: 160px;
    background-color: red;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;  
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
@keyframes hover {
    0%   {transform: rotate(0deg);}
    20% {transform: rotate(-5deg);}
    40% {transform: rotate(5deg);}
    60% {transform: rotate(-5deg);}
    80% {transform: rotate(5deg);}
    100% {transform: rotate(0deg);}
  }
a:hover{
    animation-name: hover;
    animation-duration: 500ms;
    background-color: rgb(214, 0, 0);
}
p{
    color:olivedrab;
    background-color: white;
    border-radius: 58px;
    width: 115px;
    height: 115px;
    line-height: 115px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    margin: 0px;
}